div {
  background-color: #153b6f;
  border-radius: 15px;
  direction: ltr;
  display: inline-block;
  margin: 10px auto;
  padding: 10px 16px;
  font-family: monospace,Orbitron;
  font-size: 35px;
  color: #60b2f9;
  text-align: center;
}